<%- include("partials/header") -%>
<h1 class="center-text padding-top" value="">Blog</h1>
<div class="container-fluid">
  <%  let counter = 1; %>
  <%  blogs.forEach(function(blog){ %>
  <div class="media">
    <img src="imgs/blog/blogProfileImage.jpg" class="mr-3" alt="profileImage">
    <div class="media-body">
      <h2 class="mt-0"><%= blog.title %>:</h2>
      <p><em><%= blog.date %></em></p>
      <% if(counter % 2 != 0) {%>
        <img class="float_r" src="/imgs/blog/<%= blog.img %>" alt="DaniOnRock">
      <% }else {%>
        <img class="float_l" src="/imgs/blog/<%= blog.img %>" alt="DaniOnRock">
      <% }%>
        <p class="fontMontserret"><%= blog.content %></p>
      </div>
      <% counter++; %>  
    </div>
    <% }) %>
  </div>
<%- include("partials/footer") -%>
