<%- include("partials/header", {relativePath: relativePath }) -%>
<h1 class="center-text padding-top margin"><%= recipe.title %></h1>
<img src="<%= relativePath%>/imgs/recipe/<%= recipe.img %>" class="recipeImage" alt="<%= recipe.img %>">
<div class="container margin">
  <h2>Ingredients:</h2>
  <ul>
    <%  recipe.ingredients.forEach(function(ingredient){ %>
        <li><%= ingredient %></li>
    <% }) %>
  </ul>
</div>
<div class="container margin">
  <h2>Directions:</h2>
  <ol>
    <%  recipe.directions.forEach(function(direction){ %>
      <li><%= direction %></li>
    <% }) %>
  </ol>
</div>

<%- include("partials/footer") -%>
